atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
bleach==3.2.1
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.3.1
coveralls==2.2.0
cycler==0.10.0
dash==1.18.1
dash-bootstrap-components==0.11.1
dash-colorscales==0.0.4
dash-core-components==1.14.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
docopt==0.6.2
docutils==0.16
dtale==1.28.1
flake8==3.8.4
Flask==1.1.2
Flask-Compress==1.8.0
flask-ngrok==0.0.25
future==0.18.2
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
Js2Py==0.70
kaleido==0.1.0.post1
keyring==21.6.0
kiwisolver==1.3.1
lz4==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mpmath==1.1.0
numpy==1.19.4
packaging==20.8
pandas==1.1.5
pathlib==1.0.1
patsy==0.5.1
Pillow==8.0.1
pipwin==0.5.0
pkginfo==1.6.1
plotly==4.14.1
pluggy==0.13.1
ppscore==1.1.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.3
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.2
pySmartDL==1.3.4
pytest==6.2.1
pytest-cov==2.10.1
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
soupsieve==2.1
squarify==0.4.3
statsmodels==0.12.1
strsimpy==0.2.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.54.1
twine==3.2.0
tzlocal==2.1
urllib3==1.26.2
webencodings==0.5.1
Werkzeug==1.0.1
xarray==0.16.2
xlwings==0.21.4
